body{
    color: #696969;
}

/* ERRORES EN VALIDACIÓN */
.EmptyField{
	background-color: #FCB2A3;
	border: 1px solid red;
}
/* ********************* */

/* CARGANDO */
.lds-ringPopup{
    display: inline-block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: fixed;
    height: 100%;
    z-index: 1000;
    color: #17a2b8;
    
    width: 100%;
    margin-top: -155px;
}
.lds-ringPopup div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #17a2b8;
    top: 45%;
    left: 47%;
    right: 47%;
    border-radius: 50%;
    animation: lds-ringPopup 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #17a2b8 transparent transparent transparent;
}
.lds-ringPopup div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ringPopup div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ringPopup div:nth-child(3) {
    animation-delay: -0.15s;
}
.lds-ring{
    display: inline-block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: fixed;
    height: 100%;
    z-index: 100000;
    color: #17a2b8;

    width: 100%;
    margin-top: -55px;
}
.lds-ring div {
    z-index: 100000;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #17a2b8;
    top: 45%;
    left: 47%;
    right: 47%;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #17a2b8 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.tachado{
    text-decoration:line-through !important;
}
.imgpopup{
    margin-top: 140px !important;
}
.LoadingPopup{
    position: fixed;
    background-color: rgba(0, 0 ,0,0);
    top: 0;
    z-index: 1051;
    width: 210vh;
    height: 100vh;
    text-align: center;
    display: none;
}
.imgpopup2 {
   width: 150px;
    margin-top: 15%;
}
.transparente{
    color: transparent !important;
}
.right{
    float: right;
}
.left{
    float: left;
}
.btn-modal{
    border-radius: 4px !important;
    width: 50px;
}
/* ******** */


@media (max-width: 320px) {
}
@media (max-width: @iphone-screen) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}