{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<!-- GOOGLE ANALYTICS -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130859102-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '');
  </script>
  <meta name="google-site-verification" content=""/> -->
  
	<meta charset="UTF-8">
  <title>
    {% if Title %}
      {{Title}}
    {% else %}
      Special Days Online
    {% endif %}
  </title>

  <!-- META PRINCIPALES -->
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0' name='viewport'/>
  <meta name="viewport" content="width=device-width"/>
	
	<!-- AUTOR -->
  <meta name="author" content="Optima Marketing Systems"/>

	<!-- META WEB -->
  <meta property="url"         name="url"         content="https://www.specialdaysonline.com/"/>
  <meta property="type"        name="type"        content="website"/>
  <meta property="title"       name="title"       content="Special Days Online"/>
  <meta property="description" name="description" content="¡Todos los coches que buscas al alcance de tu cartera!">
  <meta property="image"       name="image"       content=""/>

	<!-- META SOCIAL MEDIA -->
  <meta property="og:url"         name="og:url"         content="https://www.specialdaysonline.com/"/>
  <meta property="og:type"        name="og:type"        content="website"/>
  <meta property="og:title"       name="og:title"       content="Special Days Online"/>
  <meta property="og:description" name="og:description" content='¡Todos los coches que buscas al alcance de tu cartera!'>
  <meta property="og:image"       name="image"          content=""/>
  
	<!-- META PALABRAS CLAVE -->
  <meta name="keywords" content=""/>

  <!-- ESTILOS -->
  <!-- Externos -->
  <link rel="stylesheet" media="all" href="{% static 'styles/bootstrap.min.css' %}"/>
  <link rel="stylesheet" media="all" href="{% static 'styles/animate.css' %}"/>
  <link rel="stylesheet" media="all" href="{% static 'styles/all.css' %}"/>
  <link rel="stylesheet" media="all" href="{% static 'styles/fontawesome.min.css' %}"/>
  <link rel="stylesheet" media="all" href="{% static 'styles/floating-wpp.min.css' %}"/>
  <link rel="stylesheet" media="all" href="{% static 'styles/jquery.datetimepicker.css' %}"/> 
  <link rel="stylesheet" media="all" href="{% static 'styles/swiper.min.css' %}">
  <!-- Internos -->
	<link rel="stylesheet" media="all" href="{% static 'styles/style.css' %}"/>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
   	
</head>
<body>
	<div class="lds-ring" style="display:none">
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	</div>
  {% if HideNav %}
  {% else %}
  <div id="nav" class="efectos d-flex flex-column fixed-top flex-md-row align-items-center px-md-4 mb-3"  width="150">
    <div class="my-0 mr-md-auto nav-logo">
      <span onclick="window.location.replace('/home/Welcome')" class="SpecialDaysLogo" style="cursor: pointer;">Special Days Online</span>
    </div>    
    <div class="d-flex justify-content-between">
      <div class="dropdown">
        <button class="btn btn-warning-tutaper m-1 btn-nav"><span class="fas fa-bars"></span>&nbsp;Usuario&nbsp;</button>
        <div class="dropdown-content">
          <a class="dropdown-item" onclick="" href="#">
            <span class="icon-carta"></span>&nbsp;Carta&nbsp;
          </a>
        </div>
      </div>
      <button class="btn btn-warning-tutaper m-1 btn-nav" onclick="">
        <span class="fas fa-cart-plus"></span>&nbsp;<span class="car-movil">Ver Carrito</span>&nbsp;
        <span class="badge badge-light badge-nav">
          &nbsp;<div class="NoPaddingNorMargin" id="Cart">0</div>  
        </span>
      </button>
      <div class="dropdown">
        <button class="btn btn-warning-tutaper m-1 btn-nav"><span class="fas fa-user"></span>&nbsp;{{UserCode}}&nbsp;</button>
        <div class="dropdown-content dropdown-left">
          <a>{{UserName}}</a>
          <a class="dropdown-item" onclick="" href="#">
            <span class="fas fas fa-user-circle"></span>&nbsp;Perfil&nbsp;
          </a>
          <a class="dropdown-item" onclick="" href="#">
            <span class="fas fas fa-power-off"></span>&nbsp;Cerrar Sesión&nbsp;
          </a>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  {% endif %}

  <div class="Content_Wrapper">
    {% block content %}
    {% endblock %}
  </div>

  <div class="floating-wpp"></div>
  <div class="AlertModal"></div>
  
  <!-- SCRIPTS -->
  <!-- Externos -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/jquery.datetimepicker.full.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/bootstrap.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/jquery.flexslider.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/floating-wpp.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/wow.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/swiper.min.js' %}"></script>
  <script src="{% static 'scripts/lazysizes.min.js' %}"></script>
  <script src="{% static 'scripts/fontawesome.min.js' %}"></script>
  <!-- Internos -->
  <script src="{% static 'scripts/functions/functions.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/functions/login.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/functions/welcome.js' %}" type="text/javascript"></script>

  <!-- SCIPTS GENERALES -->
  <script>
    $(document).ready(function(){
      new WOW().init();

      $(".blockinput").on('paste', function(e){
      e.preventDefault();
      alert('Esta acción está prohibida');
      });

      // $(function () {
      //   $('.floating-wpp').floatingWhatsApp({
      //       phone: '51986508826',
      //       popupMessage: 'Bienvenido a TuTaper.com',
      //       showPopup: true,
      //       position: 'right', // left or right
      //       autoOpen: false, // true or false
      //       //autoOpenTimer: 4000,
      //       message: 'Hola, quiero hacer un pedido ',
      //       //headerColor: 'orange', // enable to change msg box color
      //       headerTitle: 'Whatsapp para Información',
      //   });
      // });

    });

    $(window).on('load', function(){ 
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
  </script>
    
</body>
</html>