@font-face {
    font-family: 'Silent Reaction';
    font-display: fallback;
    src: local('Silent Reaction'), url('../styles/fonts/Silent_Reaction.eot') 
            format('embedded-opentype'), 
            url('../styles/fonts/Silent_Reaction.ttf') format('truetype')
}

body{
    color: #696969;
}

a { color: inherit; } 

.Content_Wrapper,#nav {
    margin-left: 200px;
    margin-right: 200px;    
}
.NoPaddingNorMargin {
    padding-top: -20px;
    margin-top: -12px;
}

/*slider*/
.SpecialDaysLogo{
    font-family: "Silent Reaction", sans-serif, Tahoma, Verdana!important;
    color: #ff3a29!important;
    text-transform: capitalize;
    display: inline-block;
    line-height: 1.5;
    position: absolute;
    font-size: 35px!important;
    font-weight: 100;
}
/* ********************* */

/*slider*/
#TopSwiper .swiper-wrapper {
    max-height: 300px;
    height: 300px;
}

#TopSwiper .swiper-slide {
    max-height: 275px;
    text-align: center;
}

#TopSwiper .imgpro {
    max-height: 275px;
}

#DownSwiper .swiper-wrapper {
    max-height: 500px;
    height: 500px;
}

#DownSwiper .swiper-slide {
    max-height: 500px;
    text-align: center;
}

#DownSwiper .imgpro {
    max-height: 220px;
}

.swiper-pagination-bullet {
    background: #fff !important;
}

.swiper-pagination-bullet-active {
    background: #ff3a29!important;;
}
/* ********************* */

/* BOTONES BOOTSTRAP PERSONALIZADOS */
.btn-danger {
    color: #fff;
    background-color: #ff3a29;
    border-color: #ff3a29;
}
/* ********************* */

/* ERRORES EN VALIDACIÓN */
.EmptyField{
	background-color: #FCB2A3;
	border: 1px solid red;
}
/* ********************* */

/* DROPDOWN BUTTON */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
/* *************** */

/* CARGANDO */
.lds-ringPopup{
    display: inline-block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: fixed;
    height: 100%;
    z-index: 1000;
    color: #17a2b8;
    
    width: 100%;
    margin-top: -155px;
}
.lds-ringPopup div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #17a2b8;
    top: 45%;
    left: 47%;
    right: 47%;
    border-radius: 50%;
    animation: lds-ringPopup 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #17a2b8 transparent transparent transparent;
}
.lds-ringPopup div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ringPopup div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ringPopup div:nth-child(3) {
    animation-delay: -0.15s;
}
.lds-ring{
    display: inline-block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    position: fixed;
    height: 100%;
    z-index: 100000;
    color: #17a2b8;

    width: 100%;
    margin-top: -55px;
}
.lds-ring div {
    z-index: 100000;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #17a2b8;
    top: 45%;
    left: 47%;
    right: 47%;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #17a2b8 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.tachado{
    text-decoration:line-through !important;
}
.imgpopup{
    margin-top: 140px !important;
}
.LoadingPopup{
    position: fixed;
    background-color: rgba(0, 0 ,0,0);
    top: 0;
    z-index: 1051;
    width: 210vh;
    height: 100vh;
    text-align: center;
    display: none;
}
.imgpopup2 {
   width: 150px;
    margin-top: 15%;
}
.transparente{
    color: transparent !important;
}
.right{
    float: right;
}
.left{
    float: left;
}
.btn-modal{
    border-radius: 4px !important;
    width: 50px;
}
/* ******** */


@media (max-width: 320px) {
}
@media (max-width: @iphone-screen) {
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}